<section class="downloads">
  <nav><a href="https://gitlab.com/edge226/tutorials/repository/archive.zip?ref=gh-pages" class="top-btn">Download as .zip</a><a href="https://gitlab.com/edge226/tutorials" class="top-btn" target="_blank">View on Gitlab</a></nav>
</section>
