<section class="sidebar">
  <nav class="menu">
    <ul class="tree">
      <li>
        <label for="menu_heading1" class="menu-heading">My Websites</label>
        <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading1">
        <ul class="subtree">
          <li><a href="http://edge226.gitlab.io/" class="menu-entry">Edge226</a></li>
          <li>
            <label for="menu_subheading1" class="menu-subheading">Projects</label>
            <input type="checkbox" class="menu-heading-box" id="menu_subheading1">
            <ul class="subtree">
              <li>
                <label for="menu_subheading2" class="menu-subheading">Orbos</label>
                <input type="checkbox" class="menu-heading-box" id="menu_subheading2">
                <ul class="subtree">
                  <li><a href="http://orbos.gitlab.io" class="menu-entry">Orbos Website</a></li>
                </ul>
              </li>
              <li>
                <label for="menu_subheading3" class="menu-subheading">ghmd-ccs</label>
                <input type="checkbox" class="menu-heading-box" id="menu_subheading3">
                <ul class="subtree">
                  <li><a href="http://edge226.gitlab.io/ghmd-ccs/" class="menu-entry">Information</a></li>
                  <li><a href="http://edge226.gitlab.io/ghmd-ccs/info/webgen.html" class="menu-entry">Automated websites</a></li>
                  <li><a href="http://edge226.gitlab.io/ghmd-ccs/info/psb.html" class="menu-entry">Push Sidebar</a></li>
                </ul>
              </li>
              <li><a href="http://edge226.gitlab.io/getrepos/" class="menu-entry">getrepos</a></li>
            </ul>
          </li>
          <li>
            <label for="menu_subheading4" class="menu-subheading">Tutorials</label>
            <input type="checkbox" class="menu-heading-box" id="menu_subheading4">
            <ul class="subtree">
              <li><a href="http://edge226.gitlab.io/tutorials/" class="menu-entry">Index</a></li>
              <li><a href="http://edge226.gitlab.io/tutorials/help/gethelp.html" class="menu-entry">Get Linux help!</a></li>
            </ul>
          </li>
          <li><label for="menu_subheading5" class="menu-subheading">Comp-Sci Experiments</label><input type="checkbox" class="menu-heading-box" id="menu_subheading5"></li>
        </ul>
      </li>
      <li>
        <label for="menu_heading2" class="menu-heading">Communities</label>
        <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading2">
        <ul class="subtree">
          <li><a href="http://www.cupoflinux.com" target="_blank" class="menu-entry">Cup of Linux</a></li>
          <li><a href="http://techandcoffee.info/" target="_blank" class="menu-entry">Tech & Coffee</a></li>
        </ul>
      </li>
      <li>
        <label for="menu_heading3" class="menu-heading">Friends of Mine</label>
        <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading3">
        <ul class="subtree">
          <li><a href="https://github.com/anexation" target="_blank" class="menu-entry">Anex</a></li>
          <li><a href="https://github.com/JeroenMathon" target="_blank" class="menu-entry">Jeroen Mathon</a></li>
          <li><a href="http://menendezcomputerrepairs.webs.com" target="_blank" class="menu-entry">Wolfzrat</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</section>
